
        form.miformulario > label {
         
            display: inline-block;
        }
     
     
        form.miformulario > input {
            
            margin-bottom: 10px;
        }
        
        form.miformulario  button {
            padding: 10px;
            text-transform: uppercase;
            font-weight: bold;
        }

        form.miformulario select  {

            margin-left: 10%;
        }