@import url('https://fonts.googleapis.com/css?family=Oldenburg');

body {
    padding: 50px;
    background-color: rgb(214, 214, 72);
    font-weight: 100;
    font-family: 'Oldenburg', cursive;
}

div.texto {
    text-align: left;
}

div.clicable:hover {
    cursor: pointer;
    } 

li:first-child {
    color: brown;
        
}


a {
    text-decoration: none; /* no subrallado */
    color: black; /* no color específico */
 }
a:hover {
    border-bottom: 3px solid red;
}


i.hovershow {
    width: 50px;
    font-size: 50px;
    color: white;
    background-color: blue;
    margin-right: 25px;
    padding: 10px;
    cursor: pointer;
}

i.hovershow + span {
    display: none;
    width: 200px;
    background-color: lightgray;
    padding: 5px;
}



i.hovershow:hover + span {
    display: inline-block;
}
p::first-letter {
	font-size: 3em;
}
p::first-line {
    color: brown;

}

nav  {
    display: block;
    width: 100%;
    overflow: hidden;
}

nav ul {
    margin: 80px 0 20px 0;
    padding: .7em;
    float: left;
    list-style: none;
    background: #444;
    background: rgba(0,0,0,.2);
    border-radius: .5em;    
    box-shadow: 0 1px 0 rgba(255,255,255,.2), 0 2px 1px rgba(0,0,0,.8) inset; 
}

nav li {
    float:left;
}

nav a {
    float:left;
    padding: .8em 1.5em;
    text-decoration: none;
    color: #555;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    font: bold 1.1em/1 'trebuchet MS', Arial, Helvetica;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-width: 1px;
    border-style: solid;
    border-color: #fff #ccc #999 #eee;
    background: #c1c1c1;
    background: linear-gradient(#f5f5f5, #c1c1c1);            
 }
 
nav a:hover, nav a:focus {
    outline: 0;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.2);
    background: #fac754;
    background: linear-gradient(#fac754, #f8ac00);
}

nav a:active {
    box-shadow: 0 0 2px 2px rgba(0,0,0,.3) inset;
}
 
nav li:first-child a {
    border-left: 0;
    border-radius: 4px 0 0 4px;            
}

nav li:last-child a {
    border-right: 0;
    border-radius: 0 4px 4px 0;            
}