@import url('https://fonts.googleapis.com/css?family=Skranji');

body {
    padding: 50px;
    background-color: rgb(214, 214, 72);
    font-family: 'Skranji', cursive;
    font-weight: 100;

}

h1 {
    color: brown;
    font-weight: 700;

}

img.portada {
    height: 300px;
    border: 2px blue solid;
    padding: 10px;
    margin: 30px;
}

img.gato3 {
    border: 2px brown dashed;
    width: 200px;
    height: 300px;
    padding: 30px;
}

.titulo {
    color: rgb(0, 174, 255);
    font-size: 30px;
    font-style: italic;
}

p.texto {
    color: blue;
    font-size: 15px;
}

.destacado {
    color: blue;
    font-style: italic;
    font-weight: bold;
}

#identificador {
    color: red;
    text-decoration: underline;
}

table.centrado {

    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}
div.centro {
    margin: auto;
    text-align: center;
    font-weight: bold;
    
}
div.centrado {

        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
      
}

figure.portada {
    border: 1px dashed blue;
    border-radius: 10px;
    padding: 10px;
    width: 150px;
    text-align: center;
    background-color: white;
    display: inline-block;
}

figure.portada img {
    width: 150px;
    border-radius: 10px;
}

div.circulo {
    margin: 30px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: 60px;
    font-size-adjust: inherit;
    text-align: center;
    display: inline-block;
    line-height: 100px;
}

#c1 {
    float: left;
}

#c3 {
    float: right;
}

div.logo span.intel {
    position: relative;
    bottom: 10px;
}

div.franja {
    
    top: 0px;
    left: 0px;
    text-align: center;
    line-height: 40px;
    position: fixed;
    width: 100%;
    height: 40px;
    background-color:blue;
    color: white;
    font-weight: bold;
}
i.andro{

    font-size: 4rem;
    color: green;
}
i.mano{

    font-size: 100;
    color: white;

}
i.rotatotal{
    transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
}
i.rotaizq{
    transform:rotate(90deg);
    -webkit-transform:rotate(90deg); 
}
i.rotader{
    transform:rotate(270deg);
    -webkit-transform:rotate(270deg);
    
}
div.pie {
  
    line-height: 40px;
    bottom: 0px;
    left: 0px;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 40px;
    background-color: red;
    color: white;
    font-weight: bold;

}
div.cuadradoImagen{

    width: 100px;
    height: 100px;
    font-size: 60px;
    font-size-adjust: inherit;
    text-align: center;
    display: inline-block;
    line-height: 100px;
    font-weight: bold;
    margin: 10px;

}
#cuadro1{
    background-color: red;
    
}
#cuadro2{
    background-color: green;
    
}
#cuadro3{
    background-color: blue;
    
}
#cuadro4{
    background-color: black;
    
}