body {
    padding: 50px;
    background-color: rgb(231, 222, 139);
    font-family: "Times New Roman", Times, serif;
    font-weight: 100;
}

p {
    text-align: center;
}
div {
    display: block;
    margin: auto;
    width: 500px;
    height: 250px;
  
    background-color: white;
    
}
div.imgelo {
   
    color: red;
    font-size: 2em;
    background-image: url("../multimedia/elo.png");
    background-size: 25%;

    background-repeat: repeat;


}
div.imgme {
    background-image: url("../multimedia/elo.png");
    background-size: cover;
    background-repeat: no-repeat;
    
}
div.fondo {
    background-image: url("../multimedia/elo.png");
    background-size: contain;
   background-repeat: no-repeat;
   background-position: 50%;
}

