div.mibox{


 background-color: green;
 color: white;
 text-align: center;
 margin: 5px;
 text-align: center;


}

p{
    text-align: center;
    font-size: 20px;

}
div.fijo{   
    background-color: red;

}