@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
body {
    padding: 50px;
    background-color: rgb(85, 179, 98);
    font-family: "Times New Roman", Times, serif;
    font-weight: 100;
}

body.suave {
    background-color: aquamarine;
}

p.negrita {
    font-weight: bold;
}

.flecha {
    list-style: none;
}

table {
    border: 1px solid black;
    top: 50%; 
    left: 50%;
    width: 700px;
    
    
   
}
td {
    padding: 15px;
}
img.imgcentro {
    border: 2px blue solid;
    padding: 5px;
    width: 100%;

}
td.der{

    padding-left: 0px;

}
td.imgizq{
    padding-right: 0px;
   
}
td.imgder {
    padding-left: 0px;
    padding-top: 2px;
}
td.junto {
    padding-top: 0px;

}
td.imgpri{
    width: 120px;
}
